* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  padding: 1rem 2rem;
}

#main-app {
  max-width: 70%;
}

#anecdote-filter-component {
  background-color: rgb(155, 170, 184);
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
}

#anecdote-list-component {
  background-color: rgb(236, 240, 244);
}

.anecdote-row {
  background-color: rgb(222, 226, 230);
  border: 0.5px solid black;
  border-radius: 5px;

  padding: 0.5rem 1rem;
}

#vote-button {
  background-color: bisque;
  padding: 0.1rem 0.5rem;
  margin-left: 1rem;
}

#anecdote-form-component {
  background-color: rgb(156, 165, 166);
  margin-top: 0.5rem;
  padding: 1rem 1rem;
  max-width: 70%;
  border: 1.5px solid rgb(64, 63, 63);
}
